.Projectbody{
  background: linear-gradient(90deg, #183d44, #eb63eb,#08f4ad);
  color: black;
  min-height:calc(100vh - 80px);
  padding: 40px;
}



.project-section{
  width: 100%;
  margin-top: 50px;

  
  padding: 45px 5% 60px 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background-color: #f3f3f3; */

  background: linear-gradient(90deg, #839fdb,#e577dd, #69e6c5);
  box-sizing: border-box;
  border-radius: 50px;
  transition: transform 0.2s ease,box-shadow 0.2s ease, 
  background-color 0.2s ease
  
}
.project-section:hover{
  transform: scale(1.1);
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.33);

}



.project-image{
  width: 40%;
  overflow: hidden;
  border-radius: 50px;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  cursor: pointer;
  /* opacity: 0.7;  */
  
  border-bottom: 15px solid rgba(0,0,0,0.85);
  border-top: 15px solid rgba(0,0,0,0.85);
  /* border-bottom: 10px solid #000; */
  /* border-bottom: 15px solid black;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right:10px solid black ;
  border-radius: 10px; */
}

.project-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block; 
  transition: transform 0.35s ease; 
  /* border-radius: 50px;  
  border-bottom: 15px solid black;         */
}
.project-image:hover{
  /* transform: scale(1.03); */
  transform: scale(1.02);
  box-shadow: 0 18px 40px rgba(56, 2, 71, 0.75);
  opacity: 1.0;
}


.project-text{
  width: 50%;
  /* padding-left: 40px;            */
}

.project-text h1{
  /* padding-top: -50px; */
  font-size: 2.5rem;
  margin-bottom: 10px;
  /* margin-top: 10px; */
}

.project-text h3{
  font-size: 1.4rem;
  margin-bottom: 10px;
  /* color: #444; */
}

.project-text p{
  font-size: 1rem;
  line-height: 1.6;
  color: #a12222;
}

@media (max-width: 900px) {
  .project-section {
    flex-direction: column;
    gap: 30px;
  }

  .project-image,
  .project-text {
    width: 100%;
  }

  .project-image img {
    height: 300px;
  }
}
.project-tag {
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 10px;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;

  color: white;
  border-radius: 999px;

  background: linear-gradient(90deg, #047591, #fa08f6);
}
